@model IEnumerable<gestao_de_locacao.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    
    .table {
        border-collapse: collapse;
        width: 100%;
        margin: 0px 1px 20px 1px;
    }

        
        .table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        
        .table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>

<h1 class="centro">Usuários</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Usuario</a>
</p><br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
